<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>コメント一覧</h1>
    <ul>
        <% for (let comment of comments){ %>
            <li>
                <div>
                    <%= comment.text %>
                </div>
                <div><a href="/comments/delete"><img src="/images/trash.png" alt="delete"></a><a
                        href="/comments/edit"><img src="/images/edit.png" alt="edit"></a></div>
            </li>
            <% } %>
    </ul>
    <a href="/comments/new" class="link">コメントする</a>
</body>

</html>