<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新しいコメント</title>
</head>

<body>
    <form action="/comments" method="POST">
        <label for="text">コメントを入力してください</label><br>
        <input name="text" id="text" maxlength="40">
        <button>投稿</button>
    </form>
    <a href="/comments">一覧に戻る</a>
</body>

</html>