<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ひとこと言いたい</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <form action="/comments" method="POST">
        <input name="text" id="text" maxlength="22" placeholder="ひとこと">
        <button class="submit">投稿</button>
    </form>
    <a href="/comments" class="link">一覧に戻る</a>
</body>

</html>